<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ovqatlar</title>
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halal foods</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halal foods</title>
    <link rel="stylesheet" href="../../static/Bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-7 pt-4">
                    <h3 class=yangi>
                        Yangi buyurtma qo'shish
                    </h3>
 <div class="nav">



                                    <div class="nav-item d-flex">
                                       <a href="{%  url 'home' %}"> <img  class="rasm" src="../../static/project%20ga/logo.png" alt="Rasim topilmadi!"></a>
                                        <a href="{% url 'lavash' %}" class="nav-link">Lavash</a>
                                        <a href="{% url 'ovqatlar' %}" class="nav-link">Ovqatlar</a>
                                        <a href="{% url 'salatlar' %}" class="nav-link">Salatlar</a>
                                        <a href="{% url 'ichmliklar' %}" class="nav-link">Ichmliklar</a>

                                    </div>

 </div>
<div class="row">


                <div class="col-3 pt-5">
                    <div class="rasmlar">
                        <img src="../../static/project%20ga/Meat_products_Shashlik_Vegetables_Tomatoes_Wood_545245_6000x4000.jpg" alt="Rasim topilmadi!" >
                        <div class="dev">
                    <p class="sharx">
                        Жаренные мяссы
                    </p>
                    <div class="spacee"> <p> Восхитительный вкус </p></div>
                    <div class="narxlar">
                       <h5>25,000 UZS</h5>
                    </div>
                                    <button class="btn btn-success">+Qo'shish</button>
                      <div class="borderrr"> </div>
                    <div class="asd">

                    </div>
                    </div>
                        </div>
                </div>


 <div class="col-3 pt-5">
                    <div class="rasmlar2">
                        <img  class="rasmcha" src="../../static/project%20ga/ффф.jpg" alt="Rasim topilmadi!" >

                   <div class="barcha">
                        <p class="sharx">
                        Казан кебаб
                    </p>
                    <div class="spacee"> <p>  Просто бомба </p></div>
                    <div class="narxlar">
                       <h5>47.000 UZS</h5>
                    </div>
                       <button class="btn btn-success">+Qo'shish</button>
</div>
                        <div class="dev2">
</div>
                        </div>
                </div>


    </div>



    </div>
      <div class="col-md-5" style="margin-top: 4.5rem;">
<div class="yoni" style="height: 350px;">
  <div class="kassa">
      <div class="narx"><p>  Klab Sendwich </p><p class="router">2*23,000 UZS</p></div>


                         <div class="narx"><p>  Shaurma o'rtacha </p> <p class="router">4*15,000 UZS</p></div>
      <div class="narx"><p>  Coca Cola 1,5 </p><p class="router">1*9,000 UZS</p></div>

       <div class="xammasi">
                                <div class="roteee"> <p >Umumiy summa</p></div>
                                <p class="obshi"> 120,000 </p>
                                 <p class="mara">UZS</p>
                            </div>

</div>


     </div>
</div>
</div>

</body>
</html>
</body>
</html>
</body>
</html>